body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 47px;
}
.sadikmahmud{
    color:coral
}
section{
    display: flex;
}
.text{
    width: 50%;
    padding-left: 7%;
}
.palign{
    text-align: justify;
}
.image img{
    width: 75%;
    padding-left: 10%;
}
.link-jump-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(#FF5F6D,#FFC371);
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}